@charset "UTF-8";
body {
  font-family: Georgia Regular, sans-serif;
  padding: 0;
  margin: 0; }
  body p {
    padding: 0;
    margin: 0; }
  body div {
    box-sizing: border-box; }
  body h1 {
    margin: 0;
    padding: 0; }
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

header {
  height: 130px;
  background-color: #27292f; }

.container {
  width: 960px;
  margin: 0 auto; }

.logo {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 25px;
  float: left; }
  .logo #text {
    font-size: 12px;
    text-transform: none; }

nav {
  float: right; }

.search-form {
  width: 200px;
  margin-top: 23px;
  margin-left: 370px; }

.search-form input#search {
  width: 200px;
  height: 25px;
  background: #1f232c;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 12px;
  color: #cccccc; }

.search-form .icon {
  position: absolute;
  font-size: 12px;
  margin-left: 175px;
  margin-top: 5px;
  color: #85878c; }

.nav-menu {
  margin-top: 20px; }

.menu {
  padding: 0;
  margin: 0;
  display: block; }

.menu li {
  display: block;
  float: left; }

.menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 25px; }
.img{
  background-color: #eeeeee;
}
aside {
  margin: 0;
  padding:0;
  background-color: #eeeeee;
  height: 300px; }

.aside-item {
  padding-top: 50px;
  float: left; }
  .aside-item h3 {
    font-size: 18px;
    color: #2c2c2c; }
  .aside-item p {
    font-size: 12px;
    line-height: 1.5;
    color: #7c7c7c; }

.text1 {
  margin-top: 30px; }

.text2 {
  margin-top: 15px; }

.aside-item:nth-child(2) {
  margin-left: 75px; }
  .aside-item:nth-child(2) .link-text {
    margin-top: 25px; }
    .aside-item:nth-child(2) .link-text p {
      font-size: 12px;
      border-bottom: 1px solid #c4c4c4;
      color: #1f232c;
      line-height: 2.5; }

.aside-item:nth-child(3) {
  margin-left: 110px; }
  .aside-item:nth-child(3) .blog-text {
    line-height: 1.5;
    margin-top: 30px; }
    .aside-item:nth-child(3) .blog-text h3 {
      font-size: 13px; }
    .aside-item:nth-child(3) .blog-text time {
      font-size: 11px; }

.aside-item:last-child {
  float: right;
  width: 240px;
  display: block; }
  .aside-item:last-child .input-form {
    margin-top: 20px; }
  .aside-item:last-child input {
    width: 240px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: none; }

.aside-button {
  float: left;
  display: block;
  margin-top: 20px; }
  .button{
    color: #e1dada;
    text-decoration: none;
    background: #1f232c;
    padding: 10px 15px;
    /* отступ от текста */
    font-size: 13px;
    border-radius: 5px;
    text-transform: uppercase; }
footer {
  height: 60px;
  background-color: #1f232c; }
  footer p {
    padding-top: 25px;
    color: #737373;
    float: left; }
  footer a {
    text-decoration: none;
    padding-top: 25px;
    color: #737373;
    float: right; }
label{
  display: none;
}