{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<title></title>
	<meta charset="utf-8">
</head>
<body>
		<header>
		<div class="container">
			<div class="heading clearfix">
				<div class="logo">
					<p>Lifestyle</p>
					<p id="text">Free PSD Website Template</p>
				</div>	
				<nav>
					<div class="search-form">
						<span class="icon"><i class="fas fa-search"></i></span>
						<input type="search" id="search" placeholder="Search Term Here">
					</div>
					<div class="nav-menu">
						<ul class="menu">
							<li><a href="#">Home</a></li>
							<li><a href="#">Style Demo</a></li>
							<li>
								<a href="#">Full width</a>
							</li>
							<li>
								<a href="#">Dropdown</a>
							</li>
							<li>
								<a href="#">Portfolio</a>
							</li>
							<li>
								<a href="#">Gallery</a>
							</li>
						</ul>
					</div>
				</nav>	
			</div>
		</div>
	</header>
	<section class="img">
		<img src="https://i0.wp.com/www.sandrahenderson.co.nz/wp-content/uploads/2014/09/journal-1920px-550px-colour.jpg" width="100%">
	</section>
    	<aside>
		<div class="container">
			<div class="aside clearfix">
				<div class="aside-item">
						<h3>Contact Us</h3>
					<div class="text1">
						<p>Company Name</p>
						<p>Street Name & Number</p>
						<p>Town</p>
						<p>Postcode/Zip</p>
					</div>
					<div class="text2">
						<p>Tel: xxxxx xxxxxxxxx</p>
						<p>Fax: xxxxx xxxxxxxxx</p>
						<p>Email:contact@mydomain.com</p>
					</div>
				</div>
				<div class="aside-item">
					<h3>Quick Links</h3>
					<div class="link-text">
						<p>Link Text Here</p>
						<p>Link Text Here</p>
						<p>Link Text Here</p>
						<p>Link Text Here</p>
					</div>
				</div>
				<div class="aside-item">
					<h3>From The Blog</h3>
					<div class="blog-text">
						<h3>Blog Post Title</h3>
						<time>Posted by Admin on 00.00.0000</time>
						<p>Vestibulumaccumsan egestibulum eu</p>
						<p>justo convallis augue estas aenean elit</p>
						<p>intesque sed facilispede estibulum.</p>
					</div>
				</div>
				<div class="aside-item">
					<h3>Grab Our Newsletter</h3>
					<form method="post" class="input-form">
						{% csrf_token %}
						{{ form }}
						<div class="aside-button">
							<button class="button" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</aside>
	<footer>
		<div class="container">
			<p>Copyright © 2018 - All Rights Reserved</p>
			<a href="#">Vladislav Mankov</a>
		</div>
	</footer>
</body>
</html>